@import "../../styles/variables";

.search-box-container {
  text-align: center;
  input {
    height: 36px;
    width: 200px;
    border: none;
    border-radius: 5px;
    background-color: #FAF7F8;
    color: rgb(28, 28, 28);
    border: 1px solid rgb(237, 239, 241);
    outline-color: $blue;
    padding: 0 16px;
    font-size: $font-size-sm;
  }
}

@media (max-width: $sm-size) {
  .search-box-container {
    input {
      width: 150px;
      height: 32px;
    }
  }
}
