@import "../../../styles/variables";
$spinner-size: 48px;

.spinner {
  position: absolute;
  top: 58px;
  left: 0;
  height: calc(100% - 58px);
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  .spinner-icon {
    position: fixed;
    top: calc(50% - 24px);
    left: calc(50% - 24px);
    color: $reddit-orange;
    font-size: $spinner-size;
  }
}

@media (max-width: sm-size) {
  .spinner {
    top: 42px;
    height: calc(100% - 42px);
  }
}