@import "../../styles/variables";

.post-detail {
  overflow: auto;
  border-left: 2px solid $gray-secondary;
  .actions {
    display: none;
    margin-bottom: 16px;
    button {
      margin-right: 8px;
    }
  }
  .post-content {
    text-align: center;
    padding: 16px;
    border-radius: 5px;
    background-color: $white;
    border-right: 8px solid $gray-secondary;
    .post-name {
      margin: 24px 0 32px 0;
    }
    .image-container {
      text-align: center;
      .clickable-image {
        width: 100%;
        max-width: 600px;
        border-radius: 5px;
        margin: auto;
      }
    }
  }
}

@media (max-width: $sm-size) {
  .post-detail {
    border-left: none;
  }
}