@import "../../../styles/buttons";
@import "../../../styles/variables";

.post-card {
  .card-container {
    display: flex;
    margin-bottom: 16px;
    padding: 16px;
    border-radius: 5px;
    background-color: $white;
    border-left: 8px solid $gray-secondary;
    &:hover {
      cursor: pointer;
    }
    .card-left-content {
      flex: 1;
      margin-right: 16px;
      justify-content: space-between;
      display: flex;
      flex-direction: column;
      & > *:not(:last-child) {
        margin-bottom: 8px;
      }
      .number-of-comments {
        font-size: $font-size-sm;
        color: $blue;
      }
      .post-readed {
        font-size: $font-size-sm;
        color: $reddit-orange;
      }
      .dismiss-button {
        padding: 4px 4px 4px 0;
      }
      .post-name {
        margin: 8px 0 16px 0;
      }
      .participation {
        display: flex;
        margin-bottom: 4px;
        .participation-flag {
          height: 24px;
          width: 24px;
          margin-left: 6px;
        }
      }
      .participation-description {
        color: $black;
      }
    }
    .card-right-content {
      img {
        width: 140px;
      }
    }
  }
}

@media (max-width: $sm-size) {
  .post-card {
    .card-container {
      padding: 8px;
      .card-left-content {
        .post-name {
          font-size: 18px;
        }
      }
      .card-right-content {
        img {
          width: 100px;
        }
      }
    }
  }
}