// Colors
$gray: #DAE0E6;
$white: #FFF;
$blue: #0079D3;
$gray-secondary: #6c6e70;
$reddit-orange: #FF5700;
$black: #3C3D3C;

// Screen Sizes
$sm-size: 768px;

$header-height-sm: 48px;
$header-height-md: 58px;

$nav-buttons-column-width: 54px;

$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 24px;