// Colors
$gray: #DAE0E6;
$black: #1F1F1F;
$white: #FFF;
$blue: #0079D3;
$gray-secondary: #6c6e70;
$reddit-orange: #FF5700;

// Screen Sizes
$sm-size: 768px;


$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 24px;

$font-size-lg: 24px;
