@import "../../styles/variables";
$logo-width: 140px;
$logo-width-sm: 100px;

.nav-header {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header-height-md;
    padding: 2px 8px;
    > * {
      flex: 1;
    }
    .logo {
      align-items: center;
      width: $logo-width;
    }
    .dropdown-menu-container {
      text-align: right;
      ul {
        list-style-type: none;
        padding: 0;
      }
      .glyphicon {
        // I wrote these !important as a workaround to win to the inline styles made by the library
        // Library docs -> https://github.com/grizzthedj/react-bootstrap-dropdown-menu#readme
        color: $black !important;
        padding: 8px !important;
      }
      a {
        color: $blue;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 24px;
      }
    }
    // I know I can do the next code in a more scalable and cleaner way setting space-between to the justify-content
    // prop of the header, but I'm just trying to show here different ways in which you can have fun using css.
    :nth-child(2) {
     // flex-grow: 1;
      // margin-right: $logo-width;
    }
  }
}


@media (max-width: $sm-size) {
  .nav-header {
    header {
      height: $header-height-sm;
      // justify-content: space-between;
      .logo {
        width: $logo-width-sm;
      }
      :nth-child(2) {
       //  flex-grow: 0;
        // margin-right: 0;
      }
    }
  }
}