@import "../../../styles/variables";
@import "../../../styles/buttons";

.paginator {
  height: 32px;
  margin: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $blue;
  .page-number {
    font-size: 24px;
  }
  button {
    // I know I can put this class name to the button component. I'm just showing the @extend usage
    @extend .reddit-app-primary-button;
  }
}