@import "../../styles/variables";
@import "../../styles/buttons";

.post-list {
  max-width: 400px;
  .list-content {
    overflow-y: auto;
  }
  .title {
    color: $gray-secondary;
    margin: 0 0 16px 0;
  }
  .actions {
    margin-bottom: 16px;
    button {
      @extend .reddit-app-secondary-button;
      margin-right: 8px;
    }
  }
}