@import "../../shared/variables";

.post-list {
  max-width: 400px;
  .list-content {
    overflow-y: auto;
    padding-right: 8px;
    height: calc(100% - 100px);
  }
  .title {
    text-align: center;
    margin: 0 0 24px 0;
    color: $gray-secondary;
  }
}