@import "../../styles/variables";

.picture-gallery {
  .gallery-content {
    display: flex;
    flex-wrap: wrap;
    // padding: 16px;
    padding: 8px 16px 16px 16px;
    .picture-container {
      margin-bottom: 16px;
      padding-left: 0;
      .picture {
        width: 100%;
        border-radius: 5px;
        -moz-box-shadow:  3px 3px 10px $gray-secondary;
        -webkit-box-shadow:  3px 3px 10px $gray-secondary;
        box-shadow:  3px 3px 10px $gray-secondary;
      }
    }
  }
}

@media (max-width: $sm-size) {
  .picture-gallery {
    .gallery-content {
      padding-top: 0;
    }
  }
}